<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="/style.css" />
  <style>
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #0C0E1B;
      color: white;
      padding: 0.8rem 1.5rem;
      height: 10%;
    }
  </style>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-left">
      <a href="/">MyBlog</a>
    </div>

  </nav>
  <main class="information">
    <div>
      <h2>Login</h2>
      <% if (typeof error !=='undefined' ) { %>
        <p style="color: red;">
          <%= error %>
        </p>
        <% } %>
          <form action="/login" method="POST">
            <label>Username:</label><br>
            <input type="text" name="username" required><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" required><br><br>
            <button type="submit">Login</button>
          </form>
          <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
  </main>
</body>

</html>