<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Blog Site</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
  <div id="header">
    <nav class="navbar">
      <div class="navbar-left">
        <a href="/">MyBlog</a>
      </div>
      <div class="navbar-right">
        <a href="/register" class="register-link">REGISTER</a>
        <a href="/login" class="login-link">LOGIN</a>
      </div>
    </nav>

    <main>

      <h1>Welcome To Blogify</h1>
      <h2>Your space to write,read, and connect</h2>
      <p>Register Now and become part of growing community of thinkers,storytellers, and creators</p>

    </main>
  </div>

  <div class="content">

    <div class="container">

      <div class="reasons">
        <div class="why">
          <h1>WHAT YOU CAN DO?</h1>
        </div>
        <div class="why">
          <i class="fa-solid fa-circle-check"></i>
          <p>Write and share your own blogs with a simple editor</p>
        </div>
        <div class="why">
          <i class="fa-solid fa-circle-check"></i>
          <p>Discover trending posts across various topic</p>
        </div>
        <div class="why">
          <i class="fa-solid fa-circle-check"></i>
          <p>Comment and connect with fellow users</p>
        </div>
      </div>



    </div>
    <div class="featured">
      <h1>EXPLORE THEMES</h1>

      <div class="container2">

        <div class="posts">
          <img
            src="https://plus.unsplash.com/premium_photo-1725983645487-5ea02c65ecaf?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          <div class="over">
            LIFESTYLE
          </div>
        </div>

        <div class="posts">
          <img
            src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          <div class="over">
            TECHNOLOGY
          </div>
        </div>
        <div class="posts">
          <img
            src="https://images.unsplash.com/photo-1537495329792-41ae41ad3bf0?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          <div class="over">
            ACADEMICS
          </div>
        </div>
        <div class="posts">
          <img
            src="https://plus.unsplash.com/premium_photo-1677679816376-d6f9b33678ed?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          <div class="over">
            ART
          </div>
        </div>
        <div class="posts">
          <img
            src="https://images.unsplash.com/photo-1493612276216-ee3925520721?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          <div class="over">
            SOCIAL IMPACT
          </div>
        </div>
      </div>

      <a href="/register"><button>REGISTER NOW!</button></a>

    </div>
  </div>



</body>

</html>