<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD BLOG</title>
    <link href="/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
</head>

<body>
    <div id="header">
        <nav class="navbar">
            <div class="navbar-left">
                <a href="/">MyBlog</a>
            </div>

            <div class="navbar-right">

                <a href="/blog" class="register-link">BACK</a>

            </div>
        </nav>
        <div class="container mt-3" style="height: 100%">
            <h1 class="mt-3 mb-3">
                Hi <%= user.username%>! Go on write it all down!
            </h1>
            <form class="blog-form" action="/blog" method="POST" style="height:100%" enctype="multipart/form-data">
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="coverImage" class="form-label">Choose Cover Image</label>
                        <input class="form-control" type="file" id="coverImage" name="coverImage">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="theme" class="form-label">Theme</label>
                    <select class="form-control" id="theme" name="theme" required>
                        <option value="" disabled selected>Select a category</option>
                        <option value="Education">Education</option>
                        <option value="Politics">Politics</option>
                        <option value="Self-Development">Self-Development</option>
                        <option value="Creative Writing">Creative Writing</option>
                        <option value="Career & Growth">Career & Growth</option>
                        <option value="Travel">Travel</option>
                        <option value="Technology">Technology</option>
                        <option value="Finance">Finance</option>
                        <option value="Mental Health">Mental Health</option>
                        <option value="Environment">Environment</option>
                        <option value="Science">Science</option>
                        <option value="History">History</option>
                        <option value="Art & Culture">Art & Culture</option>
                        <option value="Current Affairs">Current Affairs</option>
                        <option value="Book Reviews">Book Reviews</option>
                        <option value="Movie & TV Reviews">Movie & TV Reviews</option>
                        <option value="Parenting">Parenting</option>
                        <option value="Relationships">Relationships</option>
                        <option value="Food & Recipes">Food & Recipes</option>
                        <option value="Health & Fitness">Health & Fitness</option>
                        <option value="Personal Experiences">Personal Experiences</option>
                        <option value="Productivity">Productivity</option>
                        <option value="Coding & Development">Coding & Development</option>
                        <option value="Startups & Entrepreneurship">Startups & Entrepreneurship</option>
                        <option value="Social Justice">Social Justice</option>
                        <option value="Digital Marketing">Digital Marketing</option>
                        <option value="Spirituality">Spirituality</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Space & Galaxy">Space & Galaxy</option>
                        <option value="Other">Other</option>

                    </select>


                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="title" name="title">

                </div>
                <div class='mb-3'>
                    <div class="form-floating">
                        <div id="quill-editor" style="height: 300px;"></div>
                        <input type="hidden" name="body" id="quill-hidden">

                    </div>
                </div>

                <button class="btn btn-primary">Submit</button>
                <% if (typeof blog !=='undefined' ) { %>
                    <div id="blog-content" style="display: none;"><%- blog.body %></div>
                    <% } %>

            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>

        <script src="/js/addBlog.js"></script>

</body>

</html>